.navBtn{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navBtn Button{
    background: none;
    border: none;
    position: relative;
    color: white;
    
}

.navBtn Button:disabled{
    color: rgb(189, 189, 189);
}

.navBtn Button:disabled:hover:after{
    width: 0;
}

.navBtn Button::after{
    content: '';
    position: absolute;
    height: 2px;
    left: 50%;
    bottom: 0;
    width: 0%;
    background: white;
    transform: translateX(-50%);
    transition: width .2s;
}

.navBtn Button:hover:after{
    width: 80%;
    background: lightgray;
}

.navBtn Button.current:after{
    width: 80%;
    height: 3px;
    background: white;
}

.admin{
    display: flex;
    float: right !important;
    justify-content: end !important;
    width: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

.loginBtn{
    display: flex;
    position: absolute !important;
    float: right;
    right: 0;
    padding-right: 10px;
}

.loginBtn img{
    width: 80%;
    margin: 5% 0;
}
